/* CSS Document */

/* 
Fonts:
*/

/* CSS Reset */
* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "Helvetica Neue", Gotham, Helvetica, Arial, "sans-serif";
}

/* Body CSS */
body {
	background-color: #403F49;
}

/* Header CSS */
header {
	background-color: #000000;
	color: #FF84FD;
	text-align: center;
	display: block;
	width: 90%;
	padding: 0 5% 5% 5%;
}

#hero {
	width: 95%;
	max-height: 550px;
}

h1 {
	color: #FF84FD;
	text-align: center;
	font-size: 1.8em;
}

h2 {
	color: #FF84FD;
	text-align: center;
}

h3 {
	color: #FF84FD;
	text-align: center;
}

/* Nav CSS */
nav ul {
	list-style: none;
	display: block;
	text-align: center;
	margin: 0 auto;
}

nav a{
	color: #913D96;
	text-align: center;
	font-size: 1em;
	text-decoration: none;
	padding: 0.1em 0.75em;
}

nav li {
	border-top: none;
	border-bottom: none;
	display: inline-block;
	}

nav ul {
	list-style: none;
	text-align: center;
	margin: auto;
}

/* Main CSS */
main p {
	color: #fff;
	text-align: left;
	padding: 4% 0 4% 1%;
}

/* Footer CSS */
footer {
	font-size: 0.75em;
	text-align: center;
	padding: 5% 5%;
	width: 90%;
	background-color: #000000;
	color: #5850EB;
}