/* CSS Document */
/* 
	File Name: dd-styles.css- Cybre Tech Industries
	Designer's Name: Connor J. Noble
	Project: BOCES Senior Project 
	*/

/* 
Fonts:
	font-family: "Underdog", sans-serif;
	font-family: "Tagesschrift", sans-serif;
	font-family: "Poetsen One", sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

/* CSS Reset */
* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "Poetsen One", Gotham, Helvetica, Arial, "sans-serif";
}

/* Body CSS */

/* Header CSS */
header {
	background-color: #1d5864;
	color: #A17002;
	text-align: center;
	display: block;
	width: 90%;
	padding: 0 5% 5% 5%;
	border-bottom: ridge #09145b 5px;
}

#hero {
	min-width: 150px;
	max-height: 550px;
	background-size: contain;
	max-width: 1024px;
	padding-bottom: 5%;
	display: block;
	width: 60%;
	margin: 0 auto;
}

h1 {
	color: #09145b;
	font-size: 1.8em;
	padding: 2% 0;
	font-family: "Underdog", sans-serif;
}

h2 {
	color: #09145b;
	font-family: "Underdog", sans-serif;
}

h3 {
	color: #09145b;
	padding-left: 2%;
	font-family: "Underdog", sans-serif;
}

h4 {
	color: #09145b;
	padding-left: 2.5%;
	font-family: "Underdog", sans-serif;
}

/* Nav CSS */
nav {
	display: block;
	margin: 0 auto;
	font-size: 1.5em;
	text-align: center;
	width: 70%;
	background-color: #101970;
	font-family: "Tagesschrift", sans-serif;
}

nav .cont{
	text-align: center;
	text-decoration: none;
	background-color: #101970;
	color: #fff;
	display: block;
	border-radius: 15%;
	border: #5494a4 5px solid;
	font-family: "Tagesschrift", sans-serif;
}

nav a .cont{
	text-align: center;
	text-decoration: none;
	background-color: #fff;
	color: #101970;
	display: block;
	font-family: "Tagesschrift", sans-serif;
}

nav .cont:hover {
	text-align: center;
	text-decoration: none;
	background-color: #fff;
	color: #101970;
	font-family: "Tagesschrift", sans-serif;
}

nav a .cont:hover {
	text-align: center;
	text-decoration: none;
	background-color: #000;
	color: #9b782e;
	font-family: "Tagesschrift", sans-serif;
}

/* Main CSS */
body main {
	background-color: #1f5699;
	color: #D7EFF4;
	border-left: #09145b 10px ridge;
	border-right: #09145b 10px ridge;
	padding: 5% 0;
}

.content {
	display: block;
	width: 90%;
	margin: 0 auto;
}

main a {
	margin: 0 auto;
	text-decoration: none;
	color: #B7B7B8;
	font-size: 1.2em;
}

main p {
	display: block;
	width: 90%;
	text-align: left;
	margin: 0 auto;
}

/* Footer CSS */
footer {
	font-size: 1.2em;
	text-align: center;
	padding: 5% 5%;
	width: 90%;
	background-color: #000000;
	color: #5850EB;
}

footer nav {
	font-size: 1.2em;
	width: 50%;
}