/* CSS Document */
/* 
	File Name: styles.css- Cybre Tech Industries
	Designer's Name: Connor J. Noble
	Project: BOCES Senior Project 
	*/

/* 
Fonts:
*/

/* CSS Reset */
* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "Helvetica Neue", Gotham, Helvetica, Arial, "sans-serif";
}

/* Body CSS */

/* Header CSS */
header {
	background-color: #18520C;
	color: #A17002;
	text-align: center;
	display: block;
	width: 90%;
	padding: 0 5% 5% 5%;
	border-bottom: ridge #AC22A4 5px;
}

#hero {
	min-width: 150px;
	max-height: 550px;
	background-size: contain;
	max-width: 1024px;
	padding-bottom: 5%;
	display: block;
	width: 60%;
	margin: 0 auto;
}

h1 {
	color: #FEBF2C;
	font-size: 1.8em;
	padding: 2% 0;
}

h2 {
	color: #FEBF2C;
	
}

h3 {
	color: #FEBF2C;
	padding-left: 2%;
}

.game {
	padding-left: 4%;
}

/* Nav CSS */
nav {
	display: block;
	margin: 0 auto;
	font-size: 1.5em;
	text-align: center;
	width: 70%;
	background-color: #000000;
}

nav .cont{
	text-align: center;
	text-decoration: none;
	background-color: #CE24C8;
	color: #000;
	display: block;
}

nav a .cont{
	text-align: center;
	text-decoration: none;
	background-color: #CE24C8;
	color: #000;
	display: block;
}

nav .cont:hover {
	text-align: center;
	text-decoration: none;
	background-color: #000;
	color: #CE24C8;
}

nav a .cont:hover {
	text-align: center;
	text-decoration: none;
	background-color: #000;
	color: #CE24C8;
}

/* Main CSS */
body main {
	background-color: #B773B0;
	color: #D7EFF4;
	border-left: #659258 10px ridge;
	border-right: #659258 10px ridge;
	padding: 5% 0;
}

.content {
	display: block;
	width: 90%;
	margin: 0 auto;
}

main a {
	margin: 0 auto;
	text-decoration: none;
	color: #B7B7B8;
	font-size: 1.2em;
}

main p {
	display: block;
	width: 90%;
	text-align: left;
	margin: 0 auto;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
}

.card {
	background-color: #000;
	color: #df32dc;
	overflow: hidden;
	margin: 10px;
	transition: 1.5s ease;
	margin-bottom: 5em;
	flex-basis: 30%;
	height: 20%
}

.card h1 {
	color: #df32dc;
	transition: 1.5s ease;
}

.card h1:hover{
	color: #000;
	transition: 1.5s ease;
}

.card img{
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 2%;
	transition: 1.5s ease;
}

.card a {
	color: #000;
	text-decoration: none;
	transition: 1.5s ease;
}

.card:hover {
	background-color: #df32dc;
	color: #000;
}

.card a:hover {
	color: #fff;
}

.flight {
	color: #000;
	background-color: #af892f;
}

.flight img {
	width: 50%;
}

.flight h3 {
	color: #000;
	text-align: center;
}

.card .flight img {
	background-color: none;
}

.card:hover .flight:hover img {
	background-color: none;
}

.flight:hover {
	color: #af892f;
	background-color: #000;
	transition: 1.5s ease;
}

.flight:hover h3 {
	color: #af892f;
	transition: 1.5s ease;
}

/* Footer CSS */
footer {
	font-size: 1.2em;
	text-align: center;
	padding: 5% 5%;
	width: 90%;
	background-color: #000000;
	color: #5850EB;
}

footer nav {
	font-size: 1.2em;
}

footer .cont{
	text-align: center;
	font-size: 1em;
	text-decoration: none;
	background-color: #CE24C8;
	color: #000;
	display: block;
}

footer a .cont{
	text-align: center;
	font-size: 1em;
	text-decoration: none;
	background-color: #CE24C8;
	color: #000;
	display: block;
}


footer .cont:hover {
	text-align: center;
	font-size: 1em;
	text-decoration: none;
	background-color: #000;
	color: #CE24C8;
}

footer a .cont:hover {
	text-align: center;
	font-size: 1em;
	text-decoration: none;
	background-color: #000;
	color: #CE24C8;
}