/* CSS Document */

/* 
Fonts:
*/

/* CSS Reset */
* {
	font-family: "Helvetica Neue", Gotham, Helvetica, Arial, "sans-serif";
}

/* Body CSS */
body {
	background-image: url("../images/forest.jpeg");
	background-size: cover;
	background-repeat: repeat-y;
	background-color: #000;
	color: #fff;
}

.important {
	font-size: 1.02em;
	font-weight: bold;
}

#container {
	padding-bottom: 4%;
	background-color: #3B2D2E;
	border: inset 15px #1D4C1C;
	width: 95%;
	display: block;
	margin: 0 auto;
	justify-content: center;
}

#home {
	float: left;
	width: 20%;
}

nav {
	clear: left;
}

/* Header CSS */
#ccs h2, #ccs h3, #ccs h4 {
	color: #fff;
	font-weight: bolder;
	font-style: italic;
	margin: 0 auto;
	text-align: center;
}

/* Nav CSS */
nav ul {
	list-style: none;
	display: block;
	text-align: center;
	margin: 0 auto;
}

nav a{
	color: #fff;
	text-align: center;
	font-size: 1em;
	text-decoration: none;
	padding: 0.1em 0.75em;
}

nav li {
	border-top: none;
	border-bottom: none;
	display: inline-block;
	}

nav ul {
	list-style: none;
	text-align: center;
	margin: auto;
}

h1 {
	color: #9DF2BC;
}

/* Header CSS */
header {
	color: #7A97E1;
	text-align: center;
}

/* Main CSS */
main {
	
}

/* Footer CSS */
footer {
	font-size: 0.75em;
	text-align: center;
	padding: 0 1em;
}